$color-error-border: #FF6A6A;
$color-error-text: #F34F4F;
$background-color-error-text: #F9F9F9;

.itsa-input {
    position: relative;
    width: 15em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    input {
        width: 100% !important;
        display: block !important;
        margin: 0 !important;
    }
}

.itsa-input-feedback-success::after {
    content: url("icon-success.svg");
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.itsa-input-inputbox {
    position: relative;
}

.itsa-input-error input {
    border-color: $color-error-border !important;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.itsa-input-error-text {
    color: $color-error-text;
    font-size: 0.8em;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    position: absolute;
    z-index: 1;
    background-color: $background-color-error-text;
    border: 1px solid $color-error-border;
    bottom: -0.7em;
    left: auto;
    padding: 0.15em 0.4em 0.1em;
    right: 0.2em;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.itsa-input-help-text {
    color: #999;
    font-size: 0.8em;
    margin: 0.2em 0 0.4em;
}